<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/lib/require.js" data-main="js/index"></script>
</head>
<body>
<div class="header">

</div>
<div class="bodyer">
    <div class="bodyer_top">
        <ul>
            <li><img src="http://pic10.secooimg.com/push/18/5/2fb1cf647d434ad18c79153896f20d58.jpg" alt=""></li>
            <li><img src="http://pic11.secooimg.com/push/18/4/8d62ae47661742199fd4179564d4d266.jpg" alt=""></li>
            <li><img src="http://pic12.secooimg.com/push/18/3/9be5910205524f338d7a71d2660856f5.jpg" alt=""></li>
            <li><img src="http://pic12.secooimg.com/push/18/3/50acfe8a1e31435dbe81d881115e5c27.jpg" alt=""></li>
            <li><img src="http://pic10.secooimg.com/push/18/3/e230079d05b14b33be8014890e7fbc61.jpg" alt=""></li>
            <li><img src="http://pic13.secooimg.com/push/18/4/86b21c8d8ddb43d48e069fc1dc28778e.jpg" alt=""></li>
            <li><img src="http://pic10.secooimg.com/push/18/3/f19ca6f410964237af1a646ccb74b452.jpg" alt=""></li>
        </ul>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <img src="img/idex/leftlogo.png" height="65" width="31"/>


        <img src="img/idex/rightlogo.png" height="68" width="32"/>
    </div>
    <div class="bodyer_list" id="bodyList">
        <ul>
            <li>
                <a href="javascript:" data-info="23058613">
                    <div>
                        <img src="http://pic11.secooimg.com/push/18/5/32ad802ab0a84633aed97cb50f16a873.jpg" alt="">
                    </div>
                    <h2>10 Corso Como</h2>
                </a>
            </li>
            <li>
                <a href="javascript:" data-info="23058610">
                    <div>
                        <img src="http://pic11.secooimg.com/push/18/5/fd7da28f55934622a7a22a25e92a3ac3.jpg" alt="">
                    </div>
                    <h2>Kiton</h2>
                </a>
            </li>
            <li>
                <a href="javascript:" data-info="28983147">
                    <div>
                        <img src="http://pic13.secooimg.com/push/18/5/0d03e974682442adb474510c12f53b73.jpg" alt="">
                    </div>
                    <h2>Lulu Guinness</h2>
                </a>
            </li>

            <li>
                <a href="javascript:" data-info="29233334">
                    <div>
                        <img src="http://pic14.secooimg.com/push/18/5/cb336cf1a8fa4f2d9d2b468043f1e8e3.png" alt="">
                    </div>
                    <h2>Hogan</h2>
                </a>
            </li>
            <li>
                <a href="javascript:" data-info="30830041">
                    <div>
                        <img src="http://pic12.secooimg.com/push/18/3/559fa948820c41819e03365dc27ae912.jpg" alt="">
                    </div>
                    <h2>Kent&Curwen</h2>
                </a>
            </li>
            <li>
                <a href="javascript:" data-info="23058613">
                    <div>
                        <img src="http://pic10.secooimg.com/push/18/5/34a79fb341b9486ba9ae2539fcff83ab.jpg" alt="">
                    </div>
                    <h2>Tumi</h2>
                </a>
            </li>

        </ul>
    </div>
    <div class="bodyer_line">
        <div></div>
        <h2>猜您喜欢</h2>
    </div>
    <div class="bodyer_like">
        <div>
            <ul>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
            </ul>

            <ul>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
            </ul>

            <ul>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
            </ul>

            <ul>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
            </ul>

            <ul>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
            </ul>
            <ul>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/98/10/bd95f5231d884206bba0bd6f5e622882.jpg"
                         alt="">
                    <p> Harley-Davidson/哈雷戴维森纯棉印花圆领男士短袖T恤</p>
                    <div>￥1999</div>
                </li>
                <li>
                    <img src="http://pic11.secooimg.com/product/240/240/10/51/e3a88b6b44d44516a07990167379152a.jpg"
                         alt="">
                    <p> 【包税】GUCCI/古驰【18春夏】GG Marmont 新款女士迷你红色链条单肩包</p>
                    <div>￥6999</div>

                </li>
            </ul>
        </div>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

        </ol>
        <img src="img/idex/leftlogo.png" height="65" width="31"/>


        <img src="img/idex/rightlogo.png" height="68" width="32"/>
    </div>
</div>
<div class="foot">
</div>
</body>
</html>