<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="footer">
    <div class="footer_top" id="footList">
        <ul>
            <li><a href="#"> 新手指南</a></li>
            <li><a href="#"> 付款方式</a></li>
            <li><a href="#"> 物流配送</a></li>
            <li><a href="#"> 售后服务</a></li>
        </ul>
        <ul>
            <li><a href="#"> 寺库微博</a></li>
            <li><a href="#"> 友情链接</a></li>
            <li><a href="#"> 奢侈品热词</a></li>
        </ul>
        <ul>
            <li><a href="#"> 加入寺库</a></li>
            <li><a href="#"> 练习我们</a></li>
            <li><a href="#"> 关于寺库</a></li>
            <li><a href="#"> 帮助中心</a></li>
        </ul>
        <ul>
            <li><a href="#"> 寺库奢侈品养护</a></li>
            <li><a href="#"> 寺库招商</a></li>
            <li><a href="#"> 物流配送</a></li>
            <li><a href="#"> 寺库加盟店</a></li>
        </ul>
    </div>
    <div class="footer_body">
        <span>统一社会信用代码：91110102689248179K</span>
        <span><img src="https://mpic.secooimg.com/images/2016/06/21/pcfooterbatb.png">京公安备11010102001392</span>
        <span> 京ICP证110119号 京ICP备09084709号-3</span>
        <span> ISO9001中国质量管理体系认证</span>
    </div>
    <div class="footer_body">
        <span>COPYRIGHT © 2010-2017 北京寺库商贸有限公司 版权所有</span>

    </div>
    <div class="footer_body">
        <span><img src="https://pic12.secooimg.com/home/f_01.jpg"></span>
        <span><img src="https://pic12.secooimg.com/home/f_04.jpg"></span>
        <span><img src="https://pic12.secooimg.com/imagesNew/featuresPic/vv_qixi_0815/cnnic.png"></span>
        <span><img src="https://pic12.secooimg.com/home/kexin.jpg"></span>
        <span><img src="https://pic12.secooimg.com/home/f_03.jpg"></span>

    </div>
</div>
</body>
</html>