<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/paydata.css">
    <script src="js/lib/require.js" data-main="js/paydata"></script>
</head>
<body>
<div class="header">
    <div class="header_cld">
        <a href="index.html" target="_blank"><img src="http://pic.secoo.com/imagesPic/newCartPic/logo.png" alt=""></a>
        <img src="http://pic.secoo.com/imagesPic/newCartPic/c_05.jpg" alt="">
    </div>
</div>

<div class="bodyer">
    <div class="bodyer_cld">
        <div class="bodyer_header">
        </div>
        <div class="bodyer_tab">
            <table>
                <thead>
                <tr>
                    <th><input type="checkbox" class="check">全选</th>
                    <th>商品名称</th>
                    <th>发货站</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>金额小计</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tab"></tbody>
            </table>
        </div>

        <div class="bodyer_foot">
            <div>商品金额总计(不含税金和运费):<span id="foottotal"></span></div>

            <button>立即结算</button>

        </div>


    </div>


</div>

<div class="foot"></div>
</body>
</html>